<form [formGroup]="productForm" (ngSubmit)="onSubmit()" class="flex flex-col gap-5 p-1">
  
  <div class="flex flex-col gap-2">
    <label class="font-bold text-gray-700">Nombre del Producto</label>
    <input pInputText formControlName="name" placeholder="Ej: Pizza Familiar" class="rounded-xl" />
  </div>

  <div class="grid grid-cols-2 gap-4">
    <div class="flex flex-col gap-2">
      <label class="font-bold text-gray-700">Precio ($)</label>
      <p-inputNumber formControlName="price" mode="currency" currency="USD" locale="en-US" [min]="0"></p-inputNumber>
    </div>

    <div class="flex flex-col gap-2">
      <label class="font-bold text-gray-700">Categoría</label>
      <p-dropdown [options]="categories" formControlName="category_selection" 
                  optionLabel="name" optionValue="id" 
                  placeholder="Selecciona una" scrollHeight="200px"></p-dropdown>
    </div>
  </div>

  <div *ngIf="isCustomCategory" class="flex flex-col gap-2 animate-fade-in">
    <label class="font-bold text-orange-600">Nombre de tu Categoría</label>
    <input pInputText formControlName="custom_category_name" placeholder="Ej: Especialidades Árabes" class="border-orange-300" />
  </div>

  <div class="flex flex-col gap-2">
    <label class="font-bold text-gray-700">Ingredientes / Descripción corta</label>
    <p-chips formControlName="ingredients" placeholder="Escribe y presiona Enter"></p-chips>
  </div>

  <button pButton type="submit" label="Crear Producto" 
          [disabled]="productForm.invalid" 
          class="p-button-orange w-full mt-4 py-3 rounded-2xl font-bold shadow-lg"></button>
</form>